@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../base/base' as *;
@use '../base/reset' as *;
@use '../base/typography' as *;

.btn {
    border-radius: 10rem;
    font-size: $text-size-small;
    font-weight: $font-weight-heading;
    white-space: nowrap;
    text-align: center;
    padding: 1.5rem 3rem;
    max-width: 100%;
    width: 100%;

    @include respond-to(tablet) {
        width: fit-content;
    }

    @include respond-to(desktop) {
        width: fit-content;
    }

    &--primary {
        background-color: $color-btn-primary;
        color: $color-btn-secondary;
        border: none;
    }

    &--secondary {
        @include flex(center, center, center);
        gap: 1rem;
        background-color: $color-btn-secondary;
        color: $color-brand-primary;
        border: $border-accent;
    }

    &--tertiary {
        padding: 1.5rem 3rem;
        background-color: $color-btn-primary;
        color: $color-btn-secondary;
        width: 100%;
        box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.08);
        border: none;

        @include respond-to(tablet) {
            width: fit-content;
        }

        @include respond-to(desktop) {
            width: fit-content;
        }
    }

    &--accent {
        @include flex(center, center, center);
        gap: 1rem;
        padding: 1.5rem 3rem;
        background-color: $color-btn-secondary;
        color: $color-brand-primary;
        width: 100%;
        border: $border-accent;

        @include respond-to(tablet) {
            width: fit-content;
        }

        @include respond-to(desktop) {
            width: fit-content;
        }
    }
}
