# Logs (npm generates .log files when error occurs on npm install)
logs
*.log
npm-debug.log*

# Files
node_modules
dist
main.css.map

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw? 
# swap files generated in Linux when we edit the code
