@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../base/base' as *;
@use '../base/reset' as *;
@use '../base/typography' as *;

.testimonials {
    width: 100%;
    max-width: 45rem;
    padding: 4rem 1rem;
    margin: 0 auto;
    text-align: center;
    background-position: center;
    background-size: cover;

    @include respond-to(tablet) {
        height: 70rem;
        max-width: 100%;
        padding: 0;
        background-image: linear-gradient(
                rgba(255, 255, 255, 0.9),
                rgba(255, 255, 255, 0.9)
            ),
            url('/assets/images/bg-testimonial-wave.svg');
    }

    @include respond-to(desktop) {
        height: 92rem;
        max-width: 100%;
        background-image: linear-gradient(
                rgba(255, 255, 255, 0.9),
                rgba(255, 255, 255, 0.9)
            ),
            url('/assets/images/bg-testimonial-wave.svg');
        padding-top: 10rem;
    }

    &__container {
        position: relative;
    }

    &__slider {
        position: relative;

        @include respond-to(tablet) {
            max-width: 95rem;
        }

        @include respond-to(desktop) {
            max-width: 125rem;
        }
    }

    &__title {
        margin-bottom: 7rem;

        @include respond-to(tablet) {
            margin-bottom: 6rem;
        }
    }

    &__subtitle {
        margin-bottom: 2rem;
    }

    &__nav-btn {
        width: 6.4rem;
        height: 6.4rem;
        border-radius: 50%;
        background: $color-interactive-inverse;
        color: $color-brand-primary;
        @include flex(center, center);
        cursor: pointer;
        position: absolute;
        top: 2.5rem;
        z-index: 10;
        transition: all 0.3s ease;
        border: 1px solid rgba($color-brand-accent-tertiary, 0.1);

        i {
            color: inherit;
        }

        i::before {
            color: inherit !important;
        }

        &:hover {
            box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.08);
            background-color: $color-interactive-primary;
            color: $color-interactive-inverse;

            i {
                color: inherit;
            }

            i::before {
                color: inherit !important;
            }
        }

        @include respond-to(tablet) {
            width: 10rem;
            height: 10rem;
            top: 16rem;
        }

        @include respond-to(desktop) {
            width: 10rem;
            height: 10rem;
            top: 13rem;
        }

        &::after {
            display: none !important;
        }

        &--prev {
            left: 1rem;
            font-size: 2rem;
        }

        &--next {
            right: 1rem;
            font-size: 1rem;
        }
    }

    &__pagination {
        position: static !important;
        left: auto !important;
        transform: none !important;
        bottom: auto !important;
        display: flex !important;
        justify-content: center;
        gap: 24px;
        margin: 0 auto 0 !important;
        padding-bottom: 1rem;
        z-index: 1;

        .swiper-pagination-bullet {
            width: 24px !important;
            height: 24px !important;
            background: #e0e0e0;
            opacity: 1;
            transition: all 0.3s ease;
        }

        .swiper-pagination-bullet-active {
            background: $color-brand-accent;
            transform: scale(1.1);
        }
    }
}

.testimonial-card {
    background: transparent;
    width: 100%;
    @include flex(center, center, column);

    &__avatar-wrapper {
        width: 128px;
        height: 128px;
        border-radius: 50%;
        overflow: hidden;
        @include flex(center, flex-end);
        margin-bottom: 6rem;
    }

    &__avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__meta {
        @include flex(center, center);
        gap: 6px;
        margin-bottom: 1.5rem;
    }

    &__name {
        font-size: $text-size-heading-md;
        color: $color-brand-accent-secondary;
        font-weight: $font-weight-heading;
        white-space: nowrap;
        letter-spacing: -1px;

        @include respond-to(tablet) {
            max-width: 65rem;
            letter-spacing: 1px;
        }

        @include respond-to(desktop) {
            max-width: 85rem;
            letter-spacing: 1px;
        }
    }

    &__divider {
        font-size: $text-size-heading-md;
        color: rgba($color-brand-accent-tertiary, 0.75);
        font-weight: $font-weight-heading;
    }

    &__role {
        font-size: $text-size-heading-md;
        color: rgba($color-brand-accent-tertiary, 0.75);
        font-weight: $font-weight-heading;
        letter-spacing: -0.04em;

        @include respond-to(tablet) {
            max-width: 65rem;
            letter-spacing: 1px;
        }

        @include respond-to(desktop) {
            max-width: 85rem;
            letter-spacing: 1px;
        }
    }

    &__rating {
        @include flex(center, center);
        gap: 1.6rem;
        margin-top: 2rem;
    }

    &__text {
        color: $color-brand-secondary;
        font-size: $text-size-subheading;
        line-height: 1.6;
        max-width: 35rem;
        margin: 5rem auto;

        @include respond-to(tablet) {
            font-size: $text-size-medium;
            max-width: 65rem;
        }

        @include respond-to(desktop) {
            font-size: $text-size-medium;
            max-width: 85rem;
        }
    }
}
