/* 
   File: src/styles/base/_base.scss
   Purpose: Base-level rules such as font-face declarations and foundational styles
   Notes: Loaded early to ensure fonts and foundational settings are available
*/

@use '../abstracts/variables' as *;
@use '../base/typography' as *;

// Inter font (regular)
@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/inter/Inter-Regular.woff2') format('woff2');
    font-weight: $font-weight-body;
    font-style: normal;
    font-display: swap;
}

// font-face declaration for custom icon font which defines the font-family and the source of the font files
@font-face {
    font-family: 'my-app-icons';
    src:
        url('/assets/fonts/icons/app-icons.woff') format('woff'),
        url('/assets/fonts/icons/app-icons.ttf') format('truetype');
}

[class^='ic-'],
[class*=' ic-'] {
    font-family: 'my-app-icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    color: $color-purple;
    // remove the extra space below the icon
    display: inline-block;
    // allow the icon to be treated like text
    // vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    // Chrome and Safari
    -moz-osx-font-smoothing: grayscale;
    // Firefox
}

.ic-hamburger-menu::before {
    content: '\e90b';
    font-size: 4rem;
}

.ic-hero-explore::before {
    content: '\e900';
}

.ic-hero-location::before {
    content: '\e901';
}

.ic-hero-paper-plane::before {
    content: '\e902';
}

.ic-luggage-yellow::before {
    content: '\e903';
}

.ic-social-facebook::before {
    content: '\e904';
}

.ic-social-instagram::before {
    content: '\e905';
}

.ic-social-twitter::before {
    content: '\e906';
}

.ic-star-rating::before {
    content: '\e907';
}

.ic-arrow-left::before {
    content: '\e908';
}

.ic-arrow-right::before {
    content: '\e909';
}

.ic-hero-add-user::before {
    content: '\e90a';
}
