// font-face declarations for custom fonts which is defining the font-family and the source of the font files
@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/inter/Inter-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/roboto/Roboto-Regular.woff2') format('woff2');
}

// font-face declaration for custom icon font which is defining the font-family and the source of the font files
@font-face {
    font-family: my-icons;
    src:
        url('/assets/fonts/icons/app-icons.woff') format('woff'),
        url('/assets/fonts/icons/app-icons.ttf') format('truetype');
}
