// Reset styles for all elements to ensure consistent styling across different browsers
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 62.5%;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

input,
button {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}
