/* 
    File: src/styles/base/_typography.scss
    Purpose: Typography rules, font weights, and size tokens for headings and body
    Notes: Depends on `abstracts/_variables.scss` for color and breakpoint tokens
*/

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/* Font Weights */
$font-light: 300;
$font-regular: 400;
$font-bold: 700;

// Font Size Scale (Structured from extra small to large)
$font-xs: 0.7rem;
$font-sm: 1.4rem;
$font-md: 1.6rem;
$font-lg: 2.3rem;
$font-xl: 2.8rem;
$font-2xl: 3.2rem;
$font-3xl: 4rem;
$font-4xl: 6.9rem;

// Semantic Font Weights
$font-weight-body: $font-regular;
$font-weight-accent: $font-light;
$font-weight-heading: $font-bold;

// Semantic Font Sizes (Mapped to your exact layout needs)
$text-size-heading: $font-4xl;
$text-size-subheading: $font-md;
$text-size-small: $font-sm;
$text-size-extra-small: $font-xs;
$text-size-medium: $font-lg;
$text-size-large: $font-2xl;
$text-size-display-lg: $font-3xl;
$text-size-heading-md: $font-xl;

body {
    font-family: Inter, sans-serif;
    font-weight: $font-weight-body;
    color: $color-brand-secondary;
}

body:has(dialog[open]) {
    overflow: hidden;
}
