@use '../abstracts/variables' as *;

// Set Font Weights
$font-light: 300;
$font-regular: 400;
$font-bold: 700;

// font size variables
$text-heading: 6.9rem;
$text-subheading: 1.8rem;

// Set the font sizes for headings and body text
body {
    font-family: Inter, sans-serif;
    font-weight: $font-regular;
    color: $color-secondary;
}
